<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="stylesheet" href="https://cdn.es.gov.br/fonts/font-awesome/css/font-awesome.min.css">

<title>ClinicGuia | Lista Adm</title>
<link rel="icon" type="image/x-icon" href="pin-de-localizacao.png">
<style>

h2{

font-size: 1.8em;
text-align: center;
}

nav .nav-wrapper{
background-color:#0FC2C0;

}

.brand-logo{
width: 3%;
margin-left: 5em;

}

.logo{
display: flex;
}

.titulo a{
font-size: 2em;
margin-left: 7em;
}

.page-footer{
background-color:#0FC2C0;
margin-top: 2.3em;
}

.page-footer{

position: fixed;
width: 100%;
}


      

</style>

</head>
<body>
<nav th:replace="fragments/padrao :: cabecalho"></nav>
   
 
<h2>Lista de Administradores</h2>
<div class="container">
	<table>
		<thead>
			<tr>
			<th>Id
			<th>Nome
			<th>Email
			
			<th>Excluir
			<th>Alterar
			</tr>
		</thead>
		<tbody>
		<tr th:each="adm:${admin}">
			<td th:text="${adm.id}"/>
			<td th:text="${adm.nome}"/>
			<td th:text="${adm.email}"/>
			<td><a th:href="@{/excluirAdm(id=${adm.id})}"> <i class="large material-icons" style="font-size: 2em; color:#0FC2C0">delete_sweep</i></a>
			<td><a th:href="@{/alterarAdm(id=${adm.id})}"><i class="large material-icons" style="font-size: 2em; color:#0FC2C0">editar</i></a>
		</tr>
		</tbody>
	
	</table>
	
	
            
	
	 <ul class="pagination">
      <li th:class="${paginaAtual == 1 ? 'disabled' : ''}"><a th:href="${paginaAtual > 1 ? paginaAtual - 1 : '#'}"><i class="material-icons">chevron_left</i></a></li>
     <li th:each="p:${numPaginas}" th:class="${paginaAtual == p ? 'active cyan' : 'waves-effect'}"><a th:href="${p}"><span th:text="${p}"></span></a></li>
    <li th:class="${paginaAtual == totalPaginas ? 'disabled' : ''}"><a th:href="${paginaAtual < totalPaginas ? paginaAtual+1 : '#'}"><i class="material-icons">chevron_right</i></a></li>
   
  	</ul>
</div>

<footer th:replace="fragments/padrao :: footer"></footer>


</body>
</html>